<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Сметы</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Смета</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-5">
                <h3>Смета на "Проект строительства цеха"</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p style="margin-top: 100px">Смета составлена на 2017-05-31</p>
            </div>
            <div class="col-sm-4 col-sm-offset-5    ">
                <p>Сметная стоимость - </p>
                <p>Сметная трудоемкость - 15.60 (чел/ч)</p>
                <p>Сметная заработная плата - </p>
                <p> Средний разряд работ - 3.8 (разряд)</p>

            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="dataTables-example">
                    <tr class="head">
                        <td rowspan="3">№</td>
                        <td rowspan="3">
                            Шифр и номер позиции норматива
                        </td>
                        <td rowspan="3" class="col-xs-4">
                            Наименование работ и затрат, единица измерения
                        </td>
                        <td rowspan="3">
                            Количество
                        </td>
                        <td colspan="2">
                            Затраты труда рабочих, чел.-ч,
                            <br>
                            <br>
                            <br>
                            не занятых обслуживанием машин
                        </td>
                    </tr>
                    <tr class="head">
                        <td colspan="2">
                            обслуживающих машины
                        </td>
                    </tr>
                    <tr class="head">
                        <td colspan="1">на
                            единицу
                        </td>
                        <td colspan="1">всего
                        </td>
                    </tr>

                    <tr class="body">
                        <td>1</td>
                        <td>С1-10-2</td>
                        <td class="col-xs-4">Разработка грунта в отвал экскаваторами "драглайн" одноковшовыми
                            электрическими шагающими с ковшом вместимостью 15 м3, группа грунтов 1 (м3)
                        </td>
                        <td>0.98</td>
                        <td>2.62 / 13.60</td>
                        <td>2.27 / 13.33</td>
                    </tr>
                    <tr class="body">
                        <td>2</td>
                        <td>С206-0604</td>
                        <td class="col-xs-4">Экскаваторы одноковшовые электрические шагающие,
                            при работе на гидроэнергетическом строительстве, емкость ковша 15 м3 (маш/ч)
                        <td>2.67</td>
                        <td>- / -</td>
                        <td>- / -</td>
                    </tr>
                    <tr class="body">
                        <td>3</td>
                        <td>С207-0102</td>
                        <td class="col-xs-4">Бульдозеры при работе на гидроэнергетическом строительстве и
                            горновскрышных работах, мощность 79 кВт [106 л. с.] (маш/ч)
                        <td>2.67</td>
                        <td>- / -</td>
                        <td>- / -</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Morris Charts JavaScript -->

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.min.js}"></script>

</html>
