<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Добавление сметы</title>

    <meta charset="UTF-8">
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/bootstrap-datetimepicker1.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/chosen.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/createsmeta.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">var contextRoot = '[[@{/}]]';</script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var idListWork = [[${smeta.listWork.id}]];
        var idSmeta = [[${smeta.id}]];
        /*]]>*/
    </script>
</head>

<body>
<!--
<div th:replace="fragments/navbar :: navbar"></div>
-->

<div class="container-fluid">
    <div>

        <div class="row">
            <div class="col-sm-8">
                <h3>Формирование сметы</h3>
            </div>

            <div class="col-sm-1 col-sm-offset-3">
                <a id="btn_return" th:href="@{/}">На главную</a>
            </div>

            <div class="col-sm-12">
                <hr>
            </div>
        </div><!--header-->

        <div class="row">

            <div class="col-sm-6">
                <table class="table table-bordered table-hover" id="generwork">
                    <thead>
                    <tr>
                        <th>
                            Название
                        </th>
                        <th>
                            Объем
                        </th>
                        <th>
                            Шифр норматива
                        </th>
                    </tr>
                    </thead>
                    <tbody id="tbodyGenerWork">
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <div class="col-sm-4">
                    <label>Сборник</label>
                    <select class="chosen-select form-control" id="collect-input"
                            name="collect"
                            data-placeholder="Сборник">
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <label>Группа</label>
                    <select class="chosen-select form-control" id="group-input"
                            name="group"
                            data-placeholder="Группа">
                        <option value=""></option>
                    </select>
                </div>
                <br>
                <br>
                <br>
                <div class="col-sm-4">
                    <label>Работа</label>
                    <input type="text" id="work-input" name="work" placeholder="Работа"/>
                </div>
                <div class="col-sm-4">
                    <input style="margin-top: 25px" class="btn btn-primary" id="btn-input" value="Поиск нормативов" name="btn" />
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover" id="standarts">
                        <thead>
                        <tr>
                            <th>
                                Код
                            </th>
                            <th>
                                Название
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tbodyStandart">
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->


    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Подробности о нормативе</h4>
                </div>
                <div class="modal-body" id="modalBody">
                    <table class="table table-bordered table-hover" id="standarts">
                        <thead>
                        <tr>
                            <th>
                                Код
                            </th>
                            <th>
                                Название
                            </th>
                            <th>
                                Ед. изм.
                            </th>
                            <th>
                                Количество
                            </th>
                        </tr>
                        </thead>
                        <tbody id="modalBodyTable">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" id="btnModalOk">Выбрать</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
<!-- /#wrapper -->

</body>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.min.js}"></script>
<script th:src="@{/dist/js/moment-with-locales.min.js}"></script>
<script th:src="@{/dist/js/bootstrap-datetimepicker1.min.js}"></script>
<script th:src="@{/dist/js/chosen.jquery.min.js}"></script>
<script th:src="@{/dist/js/bootbox.js}"></script>
<script th:src="@{/dist/js/createsmeta.js}"></script>



</html>
