<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Добавление сметы</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/bootstrap-datetimepicker1.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/chosen.min.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">var contextRoot = '[[@{/}]]';</script>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Добавление новой сметы</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="col-sm-3">
                    <a class="btn btn-default"
                       th:href="@{|/smeta|}">
                        Посмотреть сметы
                    </a>
                </div>
                <div class="col-sm-3" th:if="${smeta.id != null}">
                    <a class="btn btn-default"
                       th:href="@{|/smeta/${smeta.id}/create|}">
                        Сформировать
                    </a>
                </div>
                <div class="col-sm-3" th:if="${smeta.id != null}">
                    <a class="btn btn-default"
                       th:href="@{|/graph/${smeta.id}|}">
                        Построить график
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div class="col-lg-6">
                <form role="form" th:if="${smeta.id == null}" th:action="@{/smeta/add}" th:object="${smeta}"
                      method="post">
                    <div class="form-group">
                        <label>Название сметы</label>
                        <input class="form-control" required="required" type="text" name="name"
                               th:field="${smeta.name}" placeholder="Название">
                    </div>
                    <div class="form-group">
                        <label for="project-input">Выбор проекта:</label>
                        <select class="chosen-select form-control" required id="project-input" name="project"
                                th:field="${smeta.project}"
                                data-placeholder="Проект">
                            <option th:value="${null}"></option>
                            <option th:each="c : ${projects}"
                                    th:attr="id_pr=${c.id}"
                                    th:value="${c.id}"
                                    th:text="${c.name}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="listwork-input">Выбор наборки работ:</label>
                        <select class="chosen-select form-control" required id="listwork-input"
                                name="listwork"
                                th:field="${smeta.listWork}"
                                data-placeholder="Наборка работ">
                            <option th:value="${null}"></option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control btn btn-primary" type="submit" value="Сохранить"/>
                    </div>
                </form>
                <form role="form" th:if="${smeta.id != null}" th:action="@{/smeta/add}" th:object="${smeta}"
                      method="post">
                    <div class="form-group">
                        <label>Название сметы</label>
                        <input class="form-control" required="required" type="text" name="name"
                               th:field="${smeta.name}" placeholder="Название">
                    </div>
                    <div class="form-group">
                        <label for="project-input">Выбор проекта:</label>
                        <input class="form-control" type="text" name="name"
                               th:field="${smeta.project.name}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="listwork-input">Выбор наборки работ:</label>
                        <input class="form-control" required="required" type="text" name="name"
                               th:field="${smeta.listWork.name}" disabled>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control btn btn-primary" type="submit" value="Сохранить"/>
                    </div>
                </form>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.min.js}"></script>
<script th:src="@{/dist/js/moment-with-locales.min.js}"></script>
<script th:src="@{/dist/js/bootstrap-datetimepicker1.min.js}"></script>
<script th:src="@{/dist/js/chosen.jquery.min.js}"></script>

<script>

    window.onload = function () {
        var urlGetListWork = contextRoot + "listwork/json/";
        var projectSelect = $("#project-input"), listWorkSelect = $("#listwork-input");

        $(".chosen-select").chosen({
            allow_single_deselect: true,
            width: "100%"
        });

        projectSelect.change(function () {
            var project = projectSelect.find("option:selected");
            listWorkSelect.empty();
            $.get(urlGetListWork + project.attr("id_pr"), function (response) {
                listWorkSelect
                    .append($("<option></option>")
                        .attr("value", "")
                        .text(""));
                $.each(response, function (index, item) {
                    listWorkSelect
                        .append($("<option></option>")
                            .attr("value", item.id)
                            .text(item.name));
                });
                listWorkSelect.trigger("chosen:updated");
            });
        });


        /*  function bootBoxAlert(message, callback) {
         bootbox.alert({
         message: message,
         callback: callback
         });
         }*/


    };

</script>


</html>
