<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Добавление проекта</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/bootstrap-datetimepicker1.min.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        var smeta = [[${smeta}]];
        var works = [[${works}]];
        /*]]>*/
    </script>
    <!--<script src="https://code.highcharts.com/highcharts.src.js"></script>-->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/gantt/modules/gantt.js"></script>
    <script src="https://code.highcharts.com/gantt/modules/exporting.js"></script>

    <script src="https://momentjs.com/downloads/moment.js"></script>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">График работ</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>
            <div class="col-lg-12">
                <div id="button-container">
                    <button class="btn btn-primary" id="pdf">
                        <i class="fa fa-download"></i> Загрузить
                    </button>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.min.js}"></script>
<script th:src="@{/dist/js/moment-with-locales.min.js}"></script>
<script th:src="@{/dist/js/bootstrap-datetimepicker1.min.js}"></script>

<script>
    $('#dateEnd, #dateStart').datetimepicker({
        language: 'ru',
        format: "DD.MM.YYYY HH:mm",
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down'
        }
    });

    var data = [];
    var dataNotContaines = function (val) {
        var flag = true;
        data.forEach(function (value) {
            if (value.id == val.id) {
                flag = false;
            }
        });
        return flag;
    };
    var startDate = moment('2016-06-01'), startDateTemp = moment('2016-06-01');

    works.forEach(function (arr) {
        arr.forEach(function (val) {
            if (dataNotContaines(val)) {
                console.log(val.prevWork);
                var stDa = data.filter(function (f) {
                    if (val.prevWork.includes(f.id + '')) {
                        return true
                    } else {
                        return false
                    }
                });
                var date = startDate;
                if (stDa.length > 0) {
                    date = moment(stDa[0].end);
                    console.log(stDa.start, date);
                }
                data.push({
                    id: val.id + '',
                    name: val.name,
                    start: date.valueOf(),
                    end: date.add(val.amount, 'days').valueOf(),
                    dependency: val.prevWork
                });
                // startDate = date.add(val.amount, 'days').valueOf();
            }
        })
    });

    Highcharts.setOptions({
        lang: {
            loading: 'Загрузка...',
            months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            shortMonths: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
            exportButtonTitle: "Экспорт",
            printButtonTitle: "Печать",
            rangeSelectorFrom: "С",
            rangeSelectorTo: "По",
            rangeSelectorZoom: "Период",
            downloadPNG: 'Скачать PNG',
            downloadJPEG: 'Скачать JPEG',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            printChart: 'Напечатать график',
            viewFullscreen: 'Открыть в новом окне'

        }
    });
    Highcharts.ganttChart('container', {

        title: {
            text: ''
        },
        yAxis: {
            uniqueNames: true
        },
        xAxis: [{
            labels: {
                format: '{value:%w}' // day of the week
            },
            grid: { // default setting
                enabled: true
            },
            tickInterval: 1000 * 60 * 60 * 24, // Day
        }, {
            labels: {
                format: 'Неделя: {value:%W}'
            },
            tickInterval: 1000 * 60 * 60 * 24 * 7 // week
        }, {
            tickInterval: 1000 * 60 * 60 * 4 * 24 * 7 // month
        }],
        series: [{
            name: 'Project 1',
            data: data/*[{
                start: Date.UTC(2018, 11, 1),
                end: Date.UTC(2018, 11, 2),
                name: 'Prototyping'
            }, {
                start: Date.UTC(2018, 11, 2),
                end: Date.UTC(2018, 11, 5),
                name: 'Development'
            }, {
                start: Date.UTC(2018, 11, 8),
                end: Date.UTC(2018, 11, 9),
                name: 'Testing'
            }, {
                start: Date.UTC(2018, 11, 9),
                end: Date.UTC(2018, 11, 19),
                name: 'Development'
            }, {
                start: Date.UTC(2018, 11, 10),
                end: Date.UTC(2018, 11, 23),
                name: 'Testing'
            }]*/
        }]
    });

    // Activate the custom button
    document.getElementById('pdf').addEventListener('click', function () {
        Highcharts.charts[0].exportChart({
            type: 'application/pdf'
        });
    });


</script>

</html>
