<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav id="navbar" th:fragment="navbar" class="navbar navbar-default navbar-static-top" role="navigation"
     style="margin-bottom: 0">
    <!-- Navigation -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}">Система создания сметной документации</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a th:href="@{/user}"><i class="fa fa-user fa-fw"></i> Профиль</a>
                </li>
                <li><a th:href="@{/settings}"><i class="fa fa-gear fa-fw"></i> Настройки</a>
                </li>
                <li class="divider"></li>
                <li><a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i> Выход</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a th:href="@{/projects}" class="active"><i class="fa fa-table fa-fw"></i> Проекты</a>
                </li>
                <li>
                    <a th:href="@{/smeta}"><i class="fa fa-edit fa-fw"></i> Сметы</a>
                </li>
                <li>
                    <a th:href="@{/listwork}"><i class="fa fa-edit fa-fw"></i> Наборки работ</a>
                </li>
                <li>
                    <a th:href="@{/dev}"><i class="fa fa-edit fa-fw"></i> Справочники</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->

</nav>
</html>