<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<div id="sidebar" th:fragment="sidebar(mainMenuItem,menuItem)"
     class="sidebar                  responsive                    ace-save-state">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>


    <ul class="nav nav-list">

        <li th:class="${#strings.equals(mainMenuItem,'find')} ? 'active open'"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')">
            <a th:href="@{/calling/find}">
                <i class="menu-icon fa fa-search"></i>
                <span class="menu-text">Поиск по обзвонам</span>
                <!--<b class="arrow fa fa-angle-down"></b>-->
            </a>
            <b class="arrow"></b>
        </li> <!---Поиск обзвоны-->


        <li th:class="${#strings.equals(menuItem,'contacts/find')} ? active">
            <a th:href="@{/contacts/find}">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-text">Поиск по контактам</span>
            </a>
            <b class="arrow"></b>
        </li><!--Контакты поиск-->

        <li th:class="${#strings.equals(mainMenuItem,'contacts/add')} ? 'active open'">
            <a th:href="@{/contacts/add}">
                <i class="menu-icon fa fa-user-plus"></i>
                <span class="menu-text"> Добавить контакт </span>
                <!--<b class="arrow fa fa-angle-down"></b>-->
            </a>
            <b class="arrow"></b>
        </li><!---Добавить-->

        <li th:class="${#strings.equals(mainMenuItem,'in_zone')} ? 'active open'"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-globe"></i>
                <span class="menu-text"> В зоне </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li th:class="${#strings.equals(menuItem,'in_zone')} ? active">
                    <a th:href="@{/calling/call}">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'2')} ? active">
                    <a th:href="@{/calling/call(city=2)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Донецк
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'102')} ? active">
                    <a th:href="@{/calling/call(city=102)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Шахтерск
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'8')} ? active">
                    <a th:href="@{/calling/call(city=8)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Харцызск
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'100')} ? active">
                    <a th:href="@{/calling/call(city=100)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Торез
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'101')} ? active">
                    <a th:href="@{/calling/call(city=101)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Снежное
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'1')} ? active">
                    <a th:href="@{/calling/call(city=1)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Макеевка
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'104')} ? active">
                    <a th:href="@{/calling/call(city=104)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Зугрес
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'103')} ? active">
                    <a th:href="@{/calling/call(city=103)}" class="bucket-name">
                        <i class="menu-icon fa fa-globe"></i>
                        В зоне - Горловка
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li th:class="${#strings.equals(mainMenuItem,'bucket')} ? 'active open'"
            sec:authorize="!hasAnyRole('ROLE_SUPPORT','ROLE_SUPPORT_MANAGER')">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-bitbucket"></i>
                <span class="menu-text"> Корзины </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).SERVICE_REQUEST_STATUS_OPEN},
                    count=${@serviceRequestHistoryServiceImp.getRequestsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'new_service_request')} ? active">
                    <a class="bucket-name"
                       th:href="@{/service_request(status=${statusId}, bucket='new_service_request',createOrder='true')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Новые заявки на обслуживание
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).SERVICE_REQUEST_STATUS_WORK},
                    count=${@serviceRequestHistoryServiceImp.getRequestsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'work_service_request')} ? active">
                    <a class="bucket-name"
                       th:href="@{/service_request(status=${statusId}, bucket='work_service_request',createOrder='true')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        В работе обслуживание
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_THINK_ID},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'thinking')} ? active">
                    <a th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='thinking')}" class="bucket-name">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Думает
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_READY_ID},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'ready_to_connect')} ? active">
                    <a th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='ready_to_connect')}"
                       class="bucket-name">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Готов к подключению
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_SLUDGE},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'sludge')} ? active">
                    <a th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='sludge')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Отстой
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_REFUSED},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'refused')} ? active">
                    <a th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='refused')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Отказался
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_DISTRIBUTION},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'distribution')} ? active">
                    <a th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='distribution')}"
                       class="bucket-name">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Распределение
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_EXECUTION_OF_WORKS},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'execution_of_works')} ? active">
                    <a th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='execution_of_works')}"
                       class="bucket-name">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Выполнение работ
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_TEMPORARILY_POSTPONED_AFTER_READY},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'temporarily_postponed_after_ready')} ? active">
                    <a th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='temporarily_postponed_after_ready')}"
                       class="bucket-name">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Временно отложил после согласования
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_TEMPORARILY_POSTPONED_AFTER_DISTRIBUTION},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'temporarily_postponed_after_distribution')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='temporarily_postponed_after_distribution')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Временно отложил после распределения
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_TEMPORARILY_POSTPONED_DURING_CONNECTION},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'temporarily_postponed_during_connection')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='temporarily_postponed_during_connection')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Временно отложил в процессе подключения
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_NO_TECHNICAL_POSSIBILITIES},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'no_technical_possibilities')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='no_technical_possibilities')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Нет тех. возможности
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_TEST_DRIVE},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'internet_connection')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='internet_connection')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Тест драйв
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_REVISION_TEST_DRIVE},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'revision_test_drive')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='revision_test_drive')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Доработка тест драйв
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_EXPLOITATION},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'exploitation')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='exploitation')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Эксплуатация
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_TEMPORARILY_DISCONNECT},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'temp_disconnect')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='temp_disconnect')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Временно отключен
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_UNPAIS_PENDING},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'unpaid_pending')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='unpaid_pending')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Неоплачено (отложено)
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_NOT_IN_ZONE_ID},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'outsideZone')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='outsideZone')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Вне зоны
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_OLD_REQUEST_IN_NEW_ZONE_ID},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'old_request_in_new_zone')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='old_request_in_new_zone')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Старые заявки в новой зоне
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR','ROLE_CONNECTION_MANAGER')"
                    th:with="statusId=${T(org.ph.crm.utils.Constants).STATUS_NEW_ROOMER},
                    count=${@contactServiceImp.getContactsCountByStatusId(statusId)}"
                    th:class="${#strings.equals(menuItem,'new_roomer')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(contactStatusId=${statusId}, bucket='new_roomer')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Новый жилец
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')"
                    th:with="count=${@contactServiceImp.getContactsCountByAddress(null)}"
                    th:class="${#strings.equals(menuItem,'address_problem')} ? active">
                    <a class="bucket-name"
                       th:href="@{/contacts/find(addressProblem=true, bucket='address_problem')}">
                        <i class="menu-icon fa fa-bitbucket"></i>
                        Проблема с адресом
                        <span class="badge badge-primary" th:if="${count != 0}" th:text="${count}"></span>
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li> <!---Корзины-->

        <li th:class="${#strings.equals(mainMenuItem,'statistics')} ? 'active open'">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-bar-chart"></i>
                <span class="menu-text"> Статистика </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>

            <ul class="submenu">
                <li th:class="${#strings.equals(menuItem,'all')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/statistics/all}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        Статистика обзвонов
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'personal')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_OPERATOR')">
                    <a th:href="@{/statistics/personal}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        Персональная статистика
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'stuff')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER')">
                    <a th:href="@{/statistics/stuff}">
                        <i class="menu-icon fa fa-archive"></i>
                        Расход материалов
                    </a>

                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem, 'reports')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/statistics/reports}">
                        <i class="menu-icon fa fa-line-chart"></i>
                        <span class="menu-text">Отчёты</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem, 'connection')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_CONNECTION_MANAGER')">
                    <a th:href="@{/statistics/connection}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span class="menu-text">Статистика отдела подключений</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem, 'sale')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_MANAGER, ROLE_SUPPORT_MANAGER')">
                    <a th:href="@{/statistics/sale}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span class="menu-text">Статистика продаж</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem, 'sale_by_project')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_MANAGER, ROLE_SUPPORT_MANAGER')">
                    <a th:href="@{/statistics/sale_by_project}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span class="menu-text">Статистика продаж по проектам</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem, 'support')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_SUPPORT_MANAGER, ROLE_SUPPORT')">
                    <a th:href="@{/statistics/support}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span class="menu-text">Статистика отдела техподдержки</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem, 'referral')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_MANAGER, ROLE_SUPPORT_MANAGER')">
                    <a th:href="@{/statistics/referral}">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span class="menu-text">Статистика обращений</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem, 'total_reports')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/statistics/reports/total}">
                        <i class="menu-icon fa fa-area-chart"></i>
                        <span class="menu-text">Итоговый отчет</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li><!---Статистика-->

        <li th:class="${#strings.equals(mainMenuItem,'contactsImport')} ? 'active open'"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-download"></i>
                <span class="menu-text"> Импорт контактов </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li th:class="${#strings.equals(menuItem,'contacts/excel_import')} ? active">
                    <a th:href="@{/contacts/import/excel}">
                        <i class="menu-icon fa fa-file-excel-o "></i>
                        <span class="menu-text">Из excel</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'contacts/bis_import')} ? active">
                    <a th:href="@{/contacts/import/bis}">
                        <i class="menu-icon fa fa-database "></i>
                        <span class="menu-text">Из биллинга</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li th:class="${#strings.equals(mainMenuItem,'users')} ? 'active open'" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}" class="dropdown-toggle">
                <i class="menu-icon menu-icon fa fa-user-circle-o "></i>
                <span class="menu-text"> Пользователи </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li th:class="${#strings.equals(menuItem,'users/all')} ? active">
                    <a th:href="@{/users/all}">
                        <i class="menu-icon fa fa-user-circle-o "></i>
                        Все пользователи
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'users/add')} ? active">
                    <a th:href="@{/users/add}">
                        <i class="menu-icon fa fa-user-o "></i>
                        Добавить пользователя
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li> <!---Пользователи-->


        <li th:class="${#strings.equals(mainMenuItem,'directories')} ? 'active open'"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER', 'ROLE_CONNECTION_MANAGER','ROLE_SUPPORT_MANAGER')">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-text"> Справочники </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li th:class="${#strings.equals(menuItem,'paid_services')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER','ROLE_SUPPORT_MANAGER')">
                    <a th:href="@{/paid_services}">
                        <i class="menu-icon fa fa-money"></i>
                        Платные услуги
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'category_service')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER','ROLE_SUPPORT_MANAGER')">
                    <a th:href="@{/category_service}">
                        <i class="menu-icon fa fa-tags"></i>
                        Категории обслуживания
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'connectable_equipment')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/directories/connectable_equipment}">
                        <i class="menu-icon fa fa-plug"></i>
                        Подключаемое оборудование
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'os')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/directories/os}">
                        <i class="menu-icon fa fa-windows"></i>
                        Операционная система
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'configurable_equipment')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/directories/configurable_equipment}">
                        <i class="menu-icon fa fa-cog"></i>
                        Настраиваемое доп. Оборудование
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'purchased_equipment')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/directories/purchased_equipment}">
                        <i class="menu-icon fa fa-money"></i>
                        Приобретаемое оборудование
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'from_find')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')">
                    <a th:href="@{/directories/from_find}">
                        <i class="menu-icon fa fa-question-circle"></i>
                        Откуда узнал
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'stuff')} ? active">
                    <a th:href="@{/stuff}">
                        <i class="menu-icon fa fa-archive"></i>
                        Материалы
                    </a>
                    <b class="arrow"></b>
                </li>

                <li th:class="${#strings.equals(menuItem, 'add_street')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN')">
                    <a th:href="@{/addresses/add_street}">
                        <i class="menu-icon fa fa-street-view"></i>
                        <span class="menu-text">Добавление улиц</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li> <!---Справочники-->


        <li th:class="${#strings.equals(mainMenuItem,'brigades')} ? 'active open'"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CONNECTION_MANAGER','ROLE_MANAGER')">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-id-card "></i>
                <span class="menu-text"> Бригады </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li th:class="${#strings.equals(menuItem,'brigades')} ? active">
                    <a th:href="@{/brigades}">
                        <i class="menu-icon fa fa-id-card "></i>
                        Бригады
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'workers')} ? active">
                    <a th:href="@{/workers}">
                        <i class="menu-icon fa fa-id-card-o"></i>
                        Работники
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        <li th:class="${#strings.equals(menuItem,'orders')} ? active"
            sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN','ROLE_CONNECTION_MANAGER')">
            <a th:href="@{/orders?sort=id,desc}">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text">Наряды</span>
            </a>
            <b class="arrow"></b>
        </li><!--Контакты поиск-->

        <li th:class="${#strings.equals(menuItem, 'scheduler')} ? active"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER','ROLE_CONNECTION_MANAGER')">
            <a th:href="@{/orders/scheduler}">
                <i class="menu-icon fa fa-calendar-check-o"></i>
                <span class="menu-text">График</span>
            </a>
            <b class="arrow"></b>
        </li>

        <li th:class="${#strings.equals(menuItem, 'support/find_contacts')} ? active"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPPORT_MANAGER','ROLE_SUPPORT')">
            <a th:href="@{/support/find_contacts}">
                <i class="menu-icon fa fa-search"></i>
                <span class="menu-text">Поиск абонентов</span>
            </a>
            <b class="arrow"></b>
        </li>


        <li th:class="${#strings.equals(mainMenuItem,'switches')} ? 'active open'"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER','ROLE_SUPPORT_MANAGER')">
            <a class="dropdown-toggle">
                <i class="menu-icon fa fa-server"></i>
                <span class="menu-text">Свитчи</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li th:class="${#strings.equals(menuItem, 'switches/find_switches')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER','ROLE_SUPPORT_MANAGER')">
                    <a th:href="@{/switches/find}">
                        <i class="menu-icon fa fa-search"></i>
                        <span class="menu-text">Поиск</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li th:class="${#strings.equals(menuItem,'switches/problematic_addresses')} ? active"
                    sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER','ROLE_SUPPORT_MANAGER')">
                    <a th:href="@{/switches/problematic_addresses}">
                        <i class="menu-icon fa fa-server"></i>
                        <span class="menu-text">Проблемные адреса</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>


        <li th:class="${#strings.equals(menuItem, 'service_request')} ? active"
            sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_SUPPORT_MANAGER','ROLE_SUPPORT', 'ROLE_MANAGER')">
            <a th:href="@{/service_request?sort=id,desc}">
                <i class="menu-icon fa fa-file-text-o "></i>
                <span class="menu-text">Заявки на обслуж</span>
            </a>
            <b class="arrow"></b>
        </li>
        <li th:class="${#strings.equals(menuItem, 'service_request')} ? active"
            sec:authorize="hasAnyRole('ROLE_ADMIN,ROLE_MANAGER')">
            <a th:href="@{/settings}">
                <i class="menu-icon fa fa-cogs "></i>
                <span class="menu-text">Настройки</span>
            </a>
            <b class="arrow"></b>
        </li>

    </ul><!-- /.nav-list -->


    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
</html>