<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>Добавление проекта</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/dist/css/bootstrap-datetimepicker1.min.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div id="wrapper">

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Добавление новой наборки</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="col-sm-3">
                    <a class="btn btn-default"
                       th:href="@{|/smeta|}">
                        Посмотреть сметы
                    </a>
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-default"
                       th:href="@{|/generwork/${listWork.id}|}">
                        Посмотреть состав наборки
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div class="col-lg-6">
                <form role="form" th:action="@{|/listwork/${listWork.project.id}/add|}" th:object="${listWork}" method="post">

                    <input class="form-control" type="hidden" name="project"
                           th:field="${listWork.project}">
                    <div class="form-group">
                        <label>Название наборки</label>
                        <input class="form-control" required="required" type="text" name="name"
                               th:field="${listWork.name}" placeholder="Название">
                    </div>
                    <div class="form-group">
                        <label>Дата начала</label>
                        <div class="input-group date">
                            <input type="text" required="required" name="dateStart" th:field="${listWork.dateStart}"
                                   class="form-control"
                                   id="dateStart"/>
                            <span class="input-group-addon"><span
                                    class="fa fa-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Дата окончания</label>
                        <div class="input-group date">
                            <input type="text" required="required" name="dateEnd" th:field="${listWork.dateEnd}"
                                   class="form-control"
                                   id="dateEnd"/>
                            <span class="input-group-addon"><span
                                    class="fa fa-calendar"></span></span>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <input class="form-control btn btn-primary" type="submit" value="Сохранить"/>
                    </div>
                </form>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.min.js}"></script>
<script th:src="@{/dist/js/moment-with-locales.min.js}"></script>
<script th:src="@{/dist/js/bootstrap-datetimepicker1.min.js}"></script>

<script>
    $('#dateEnd, #dateStart').datetimepicker({
        language: 'ru',
        format: "DD.MM.YYYY HH:mm",
        icons: {
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down'
        }
    });
</script>

</html>
